In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data/IDEB_ANOS_FINAIS_PB.csv")
df = df[['SG_UF', 'CO_MUNICIPIO', 'NO_MUNICIPIO', 'ID_ESCOLA', 'NO_ESCOLA', 'REDE']]
df['ORIGEM'] = 'IDEB_ANOS_FINAIS_PB'
df.head()

,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,ID_ESCOLA,NO_ESCOLA,REDE,ORIGEM
0,PB,2500106.0,Água Branca,25033204.0,ECI EEM JOSE NOMINANDO,Estadual,IDEB_ANOS_FINAIS_PB
1,PB,2500106.0,Água Branca,25033212.0,EEEF JOAO PEREIRA DOS SANTOS,Estadual,IDEB_ANOS_FINAIS_PB
2,PB,2500106.0,Água Branca,25033263.0,EEEF PEDRO HERCULANO DA SILVA,Estadual,IDEB_ANOS_FINAIS_PB
3,PB,2500106.0,Água Branca,25033557.0,EMEIF DELFINO JOSE DOS SANTOS,Municipal,IDEB_ANOS_FINAIS_PB
4,PB,2500106.0,Água Branca,25033670.0,EMEF ANTONIO VIRGOLINO BATISTA,Municipal,IDEB_ANOS_FINAIS_PB

In [7]:
df2 = pd.read_csv("data/IDEB_ANOS_INICIAIS_PB.csv")
df2 = df2[['SG_UF', 'CO_MUNICIPIO', 'NO_MUNICIPIO', 'ID_ESCOLA', 'NO_ESCOLA', 'REDE']]
df2['ORIGEM'] = 'IDEB_ANOS_INICIAIS_PB'
df2.head()

,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,ID_ESCOLA,NO_ESCOLA,REDE,ORIGEM
0,PB,2500106,Água Branca,25033158,EMEIF MAE IAIA,Municipal,IDEB_ANOS_INICIAIS_PB
1,PB,2500106,Água Branca,25033557,EMEIF DELFINO JOSE DOS SANTOS,Municipal,IDEB_ANOS_INICIAIS_PB
2,PB,2500106,Água Branca,25033670,EMEF ANTONIO VIRGOLINO BATISTA,Municipal,IDEB_ANOS_INICIAIS_PB
3,PB,2500205,Aguiar,25023489,ECI EEM AGENOR MENDES PEDROSA,Estadual,IDEB_ANOS_INICIAIS_PB
4,PB,2500205,Aguiar,25023535,EMEIEFCNNM LIDIA CABRAL DE SOUSA,Municipal,IDEB_ANOS_INICIAIS_PB

In [8]:
df3 = pd.read_csv("data/IDEB_ENSINO_MEDIO_PB.csv")
df3 = df3[['SG_UF', 'CO_MUNICIPIO', 'NO_MUNICIPIO', 'ID_ESCOLA', 'NO_ESCOLA', 'REDE']]
df3['ORIGEM'] = 'IDEB_ENSINO_MEDIO_PB'
df3.head()

,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,ID_ESCOLA,NO_ESCOLA,REDE,ORIGEM
0,PB,2500106.0,Água Branca,25033204.0,ECI EEM JOSE NOMINANDO,Estadual,IDEB_ENSINO_MEDIO_PB
1,PB,2500205.0,Aguiar,25023489.0,ECI EEM AGENOR MENDES PEDROSA,Estadual,IDEB_ENSINO_MEDIO_PB
2,PB,2500304.0,Alagoa Grande,25062638.0,EEEFM PADRE HILDON BANDEIRA,Estadual,IDEB_ENSINO_MEDIO_PB
3,PB,2500304.0,Alagoa Grande,25062816.0,ECIT OSWALDO TRIGUEIRO DE ALBUQUERQUE MELO,Estadual,IDEB_ENSINO_MEDIO_PB
4,PB,2500403.0,Alagoa Nova,25063340.0,ECIT MONSENHOR JOSE BORGES DE CARVALHO,Estadual,IDEB_ENSINO_MEDIO_PB

In [9]:
# concatenate all schools, remove duplicates by setting a new category 
# - fundamental, anos iniciais
# - fundamental, anos finais
# - fundamental, anos iniciais e finais
# - medio

all_schools = pd.concat([df, df2, df3])
all_schools["CATEGORY"] = all_schools.groupby("ID_ESCOLA")["ORIGEM"].transform(
    lambda x: " & ".join(sorted(x.str.replace("IDEB_", "").str.replace("_PB", "").str.replace("ENSINO_", "").str.replace("ANOS_", "Anos ")))
).drop_duplicates()
all_schools = all_schools.drop_duplicates(subset=["ID_ESCOLA"])
print(all_schools.shape)
all_schools.head()

ValueError: cannot reindex on an axis with duplicate labels