In [4]:
import pandas as pd

In [8]:
df = pd.read_csv("data/IDEB_ANOS_FINAIS_PB.csv")
df = df[['SG_UF', 'CO_MUNICIPIO', 'NO_MUNICIPIO', 'ID_ESCOLA', 'NO_ESCOLA', 'REDE', 'VL_NOTA_MEDIA_2021']]
df['ORIGEM'] = 'IDEB_ANOS_FINAIS_PB'
df.head()

# complete historical data for null values in VL_NOTA_MEDIA_2021 with the data from VL_NOTA_MEDIA_2019
df_historical = pd.read_csv("data/IDEB_ANOS_FINAIS_PB.csv")
df_historical = df_historical[['ID_ESCOLA', 'VL_NOTA_MEDIA_2019', 'VL_NOTA_MEDIA_2017']]
df_historical.head()

# for the rows with null values in VL_NOTA_MEDIA_2021, fill with the corresponding value from VL_NOTA_MEDIA_2019
df = df.merge(df_historical, on='ID_ESCOLA', how='left')
df['VL_NOTA_MEDIA_2021'] = df.apply(lambda row: row['VL_NOTA_MEDIA_2019'] if pd.isnull(row['VL_NOTA_MEDIA_2021']) else row['VL_NOTA_MEDIA_2021'], axis=1)
df['VL_NOTA_MEDIA_2021'] = df.apply(lambda row: row['VL_NOTA_MEDIA_2017'] if pd.isnull(row['VL_NOTA_MEDIA_2021']) else row['VL_NOTA_MEDIA_2021'], axis=1)
df = df.drop(columns=['VL_NOTA_MEDIA_2019', 'VL_NOTA_MEDIA_2017'])
df.head()

,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,ID_ESCOLA,NO_ESCOLA,REDE,VL_NOTA_MEDIA_2021,ORIGEM
0,PB,2500106.0,Água Branca,25033204.0,ECI EEM JOSE NOMINANDO,Estadual,3.991833,IDEB_ANOS_FINAIS_PB
1,PB,2500106.0,Água Branca,25033212.0,EEEF JOAO PEREIRA DOS SANTOS,Estadual,-,IDEB_ANOS_FINAIS_PB
2,PB,2500106.0,Água Branca,25033263.0,EEEF PEDRO HERCULANO DA SILVA,Estadual,-,IDEB_ANOS_FINAIS_PB
3,PB,2500106.0,Água Branca,25033557.0,EMEIF DELFINO JOSE DOS SANTOS,Municipal,5.5855,IDEB_ANOS_FINAIS_PB
4,PB,2500106.0,Água Branca,25033670.0,EMEF ANTONIO VIRGOLINO BATISTA,Municipal,6.031833,IDEB_ANOS_FINAIS_PB

In [9]:
df2 = pd.read_csv("data/IDEB_ANOS_INICIAIS_PB.csv")
df2 = df2[['SG_UF', 'CO_MUNICIPIO', 'NO_MUNICIPIO', 'ID_ESCOLA', 'NO_ESCOLA', 'REDE', 'VL_NOTA_MEDIA_2021']]
df2['ORIGEM'] = 'IDEB_ANOS_FINAIS_PB'
df2.head()

# complete historical data for null values in VL_NOTA_MEDIA_2021 with the data from VL_NOTA_MEDIA_2019
df_historical = pd.read_csv("data/IDEB_ANOS_FINAIS_PB.csv")
df_historical = df_historical[['ID_ESCOLA', 'VL_NOTA_MEDIA_2019', 'VL_NOTA_MEDIA_2017']]
df_historical.head()

# for the rows with null values in VL_NOTA_MEDIA_2021, fill with the corresponding value from VL_NOTA_MEDIA_2019
df2 = df2.merge(df_historical, on='ID_ESCOLA', how='left')
df2['VL_NOTA_MEDIA_2021'] = df2.apply(lambda row: row['VL_NOTA_MEDIA_2019'] if pd.isnull(row['VL_NOTA_MEDIA_2021']) else row['VL_NOTA_MEDIA_2021'], axis=1)
df2['VL_NOTA_MEDIA_2021'] = df2.apply(lambda row: row['VL_NOTA_MEDIA_2017'] if pd.isnull(row['VL_NOTA_MEDIA_2021']) else row['VL_NOTA_MEDIA_2021'], axis=1)
df2 = df2.drop(columns=['VL_NOTA_MEDIA_2019', 'VL_NOTA_MEDIA_2017'])
df2.head()

,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,ID_ESCOLA,NO_ESCOLA,REDE,VL_NOTA_MEDIA_2021,ORIGEM
0,PB,2500106,Água Branca,25033158,EMEIF MAE IAIA,Municipal,6.347942,IDEB_ANOS_FINAIS_PB
1,PB,2500106,Água Branca,25033557,EMEIF DELFINO JOSE DOS SANTOS,Municipal,6.173468,IDEB_ANOS_FINAIS_PB
2,PB,2500106,Água Branca,25033670,EMEF ANTONIO VIRGOLINO BATISTA,Municipal,-,IDEB_ANOS_FINAIS_PB
3,PB,2500205,Aguiar,25023489,ECI EEM AGENOR MENDES PEDROSA,Estadual,-,IDEB_ANOS_FINAIS_PB
4,PB,2500205,Aguiar,25023535,EMEIEFCNNM LIDIA CABRAL DE SOUSA,Municipal,-,IDEB_ANOS_FINAIS_PB

In [10]:
df3 = pd.read_csv("data/IDEB_ENSINO_MEDIO_PB.csv")
df3 = df3[['SG_UF', 'CO_MUNICIPIO', 'NO_MUNICIPIO', 'ID_ESCOLA', 'NO_ESCOLA', 'REDE', 'VL_NOTA_MEDIA_2021']]
df3['ORIGEM'] = 'IDEB_ANOS_FINAIS_PB'
df3.head()

# complete historical data for null values in VL_NOTA_MEDIA_2021 with the data from VL_NOTA_MEDIA_2019
df_historical = pd.read_csv("data/IDEB_ANOS_FINAIS_PB.csv")
df_historical = df_historical[['ID_ESCOLA', 'VL_NOTA_MEDIA_2019', 'VL_NOTA_MEDIA_2017']]
df_historical.head()

# for the rows with null values in VL_NOTA_MEDIA_2021, fill with the corresponding value from VL_NOTA_MEDIA_2019
df3 = df3.merge(df_historical, on='ID_ESCOLA', how='left')
df3['VL_NOTA_MEDIA_2021'] = df3.apply(lambda row: row['VL_NOTA_MEDIA_2019'] if pd.isnull(row['VL_NOTA_MEDIA_2021']) else row['VL_NOTA_MEDIA_2021'], axis=1)
df3['VL_NOTA_MEDIA_2021'] = df3.apply(lambda row: row['VL_NOTA_MEDIA_2017'] if pd.isnull(row['VL_NOTA_MEDIA_2021']) else row['VL_NOTA_MEDIA_2021'], axis=1)
df3 = df3.drop(columns=['VL_NOTA_MEDIA_2019', 'VL_NOTA_MEDIA_2017'])
df3.head()

,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,ID_ESCOLA,NO_ESCOLA,REDE,VL_NOTA_MEDIA_2021,ORIGEM
0,PB,2500106.0,Água Branca,25033204.0,ECI EEM JOSE NOMINANDO,Estadual,4.579629,IDEB_ANOS_FINAIS_PB
1,PB,2500205.0,Aguiar,25023489.0,ECI EEM AGENOR MENDES PEDROSA,Estadual,-,IDEB_ANOS_FINAIS_PB
2,PB,2500304.0,Alagoa Grande,25062638.0,EEEFM PADRE HILDON BANDEIRA,Estadual,-,IDEB_ANOS_FINAIS_PB
3,PB,2500304.0,Alagoa Grande,25062816.0,ECIT OSWALDO TRIGUEIRO DE ALBUQUERQUE MELO,Estadual,-,IDEB_ANOS_FINAIS_PB
4,PB,2500403.0,Alagoa Nova,25063340.0,ECIT MONSENHOR JOSE BORGES DE CARVALHO,Estadual,-,IDEB_ANOS_FINAIS_PB

In [11]:
# concatenate all schools, remove duplicates by setting a new category 
# - fundamental, anos iniciais
# - fundamental, anos finais
# - fundamental, anos iniciais e finais
# - medio

all_schools = pd.concat([df, df2, df3]).drop_duplicates()
all_schools.groupby("ID_ESCOLA").size().value_counts()

1    1757
2     524
3      16
Name: count, dtype: int64

In [12]:
# Primeiro, vamos criar a categoria sem o drop_duplicates na transform
all_schools["CATEGORY"] = all_schools.groupby("ID_ESCOLA")["ORIGEM"].transform(
    lambda x: " & ".join(sorted(x.str.replace("IDEB_", "").str.replace("_PB", "").str.replace("ENSINO_", "").str.replace("ANOS_", "Anos ")))
)

# Depois removemos as duplicatas
all_schools = all_schools.drop_duplicates(subset=["ID_ESCOLA"])

print(all_schools.shape)
all_schools.head()

(2297, 9)

,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,ID_ESCOLA,NO_ESCOLA,REDE,VL_NOTA_MEDIA_2021,ORIGEM,CATEGORY
0,PB,2500106.0,Água Branca,25033204.0,ECI EEM JOSE NOMINANDO,Estadual,3.991833,IDEB_ANOS_FINAIS_PB,Anos FINAIS & Anos FINAIS
1,PB,2500106.0,Água Branca,25033212.0,EEEF JOAO PEREIRA DOS SANTOS,Estadual,-,IDEB_ANOS_FINAIS_PB,Anos FINAIS
2,PB,2500106.0,Água Branca,25033263.0,EEEF PEDRO HERCULANO DA SILVA,Estadual,-,IDEB_ANOS_FINAIS_PB,Anos FINAIS
3,PB,2500106.0,Água Branca,25033557.0,EMEIF DELFINO JOSE DOS SANTOS,Municipal,5.5855,IDEB_ANOS_FINAIS_PB,Anos FINAIS & Anos FINAIS
4,PB,2500106.0,Água Branca,25033670.0,EMEF ANTONIO VIRGOLINO BATISTA,Municipal,6.031833,IDEB_ANOS_FINAIS_PB,Anos FINAIS & Anos FINAIS

In [13]:
all_schools.rename(columns={"VL_NOTA_MEDIA_2021": "IDEB_SCORE"}, inplace=True)

In [14]:
all_schools.to_csv("data/ALL_SCHOOLS_PB_WITH_SCORES.csv", index=False)

In [ ]:
all_schools.to_json("data/ALL_SCHOOLS_PB_WITH_SCORES.json", orient="records", force_ascii=False)

In [ ]:
# create a care rate for municipality
# get ideb and infrastructure data
import pandas as pd
df = pd.read_csv("data/ALL_SCHOOLS_PB.csv")

# ideb score